a {
    text-decoration: none;
    color:black;
}
a:hover {
    color:greenyellow;
}
input {
    padding:0;
    border:1px solid black;
}
ul,ol {
    list-style-type:none;
    margin:0;
    padding:0;
}